{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Forgot password' %} {% endblock %}

{% block content %}

<section class="pages login-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="display: flex; justify-content: center;">
                <div class="main-input padding60">
                    <div class="log-title">
                        <h3 style="text-align: center;"><strong>{% trans 'Forgot your password' %}?</strong></h3>
                    </div>
                    <div class="login-text">
                        <div class="custom-input">
                            <form action="" method="post">
                                {{ form.non_field_errors }}
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group">
                                    {{ field }}
                                    {{ field.help_texts }}
                                    {% for error in field.errors %}
                                    <li class="alert-danger alert">{{ error }}</li>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                                <div class="submit-text" style="margin-top: 30px;">
                                    <input type="submit" value="Send email">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}