{% load static i18n %}
<!-- header section start -->
<header class="header-one header-two header-page">
    <div class="header-top-two">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <div class="middel-top">
                        <div class="left floatleft">
                            <p><i class="mdi mdi-clock"></i> {% trans 'Mon-Fri' %} : 09:00-19:00</p>
                        </div>
                    </div>
                    <div class="middel-top clearfix">
                        <ul class="clearfix right floatright">
                            <li>
                                <a href="#"><i class="mdi mdi-account"></i></a>
                                <ul>
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'account:logout' %}"
                                            class="btn btn-black px-3 px-md-4 py-3 log-out logout" id="log_out">{% trans 'Log out' %}</a></li>
                                    {% else %}
                                    <li><a href="{% url 'account:login' %}"
                                            class="btn btn-black px-3 px-md-4 py-3">{% trans 'Log in' %}</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'account:register' %}">{% trans 'Register' %}</a></li>
                                    <li><a href="{% url 'account:account' %}">{% trans 'My account' %}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="mdi mdi-settings"></i></a>
                                <ul>
                                    <li><a href="{% url 'account:account' %}">{% trans 'My account' %}</a></li>
                                    <li><a href="{% url 'checkout:cart' %}">{% trans 'My cart' %}</a></li>
                                    <li><a href="{% url 'checkout:wishlist' %}">{% trans 'My wishlist' %}</a></li>
                                    <li><a href="{% url 'checkout:checkout' %}">{% trans 'Checkout' %}</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="right floatright">
                            <form action="#" method="get">
                                <button type="submit"><i class="mdi mdi-magnify"></i></button>
                                <input type="text" placeholder="Search within these results..." />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-2">
                <div class="logo">
                    <a href="{% url 'home:home' %}"><img src="{% static 'assets/img/logo2.png'%}" alt="Sellshop" /></a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="header-middel">
                    <div class="mainmenu">
                        <nav>
                            <ul>
                                <li><a class="{% if 'home' in request.path  %}active{% endif %}"
                                        href="{% url 'home:home' %}">{% trans 'Home' %}</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'home:home' %}">{% trans 'Home version one' %}</a></li>
                                        <li><a href="index-2.html">{% trans 'Home version two' %}</a></li>
                                    </ul>
                                </li>
                                <li><a class="{% if 'shop' in request.path  %}active{% endif %}"
                                        href="{% url 'product:product' %}">{% trans 'Shop' %}</a>
                                    <ul class="magamenu">
                                        <li class="banner"><a href="{% url 'product:product' %}"><img
                                                    src="{% static 'assets/img/maga1.png'%}" alt="" /></a>
                                        </li>
                                        <li>
                                            <h5>{% trans "men's wear" %}</h5>
                                            <ul>
                                                <li><a href="#">Shirts & Top</a></li>
                                                <li><a href="#">Shoes</a></li>
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Shemwear</a></li>
                                                <li><a href="#">Jeans</a></li>
                                                <li><a href="#">Sweaters</a></li>
                                                <li><a href="#">Jacket</a></li>
                                                <li><a href="#">Men Watch</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5>{% trans "women's wear" %}</h5>
                                            <ul>
                                                <li><a href="#">Shirts & Tops</a></li>
                                                <li><a href="#">Shoes</a></li>
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Shemwear</a></li>
                                                <li><a href="#">Jeans</a></li>
                                                <li><a href="#">Sweaters</a></li>
                                                <li><a href="#">Jacket</a></li>
                                                <li><a href="#">Women Watch</a></li>
                                            </ul>
                                        </li>
                                        <li class="banner"><a href="{% url 'product:product' %}"><img
                                                    src="{% static 'assets/img/maga2.png'%}" alt="" /></a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="{% if 'pages' in request.path  %}active{% endif %}"
                                        href="{% url 'home:home' %}">{% trans 'Pages' %}</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'checkout:wishlist' %}">{% trans 'Wishlist' %}</a></li>
                                        <li><a href="{% url 'checkout:checkout' %}">{% trans 'Checkout' %}</a></li>
                                        <li><a href="{% url 'checkout:cart' %}">{% trans 'Cart' %}</a></li>
                                        <li><a href="{% url 'product:product' %}">{% trans 'Product List View' %}</a></li>
                                        <li><a href="{% url 'checkout:error' %}">{% trans '404 page' %}</a></li>
                                    </ul>
                                </li>
                                <li><a class="{% if 'blog' in request.path  %}active{% endif %}"
                                        href="{% url 'blog:blog' %}">{% trans 'Blog' %}</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'blog:blog' %}">{% trans 'Blog Style One' %}</a></li>
                                        <li><a href="single-blog.html">{% trans 'Single Blog' %}</a></li>
                                    </ul>
                                </li>
                                <li><a class="{% if 'about' in request.path  %}active{% endif %}"
                                        href="{% url 'home:about' %}">{% trans 'About' %}</a></li>
                                <li><a class="{% if 'contact' in request.path  %}active{% endif %}" href="{% url 'contact:contact_us' %}">{% trans 'Contact' %}</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- mobile menu start -->
                    <div class="mobile-menu-area">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="{% url 'home:home' %}">{% trans 'Home' %}</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'home:home' %}">{% trans 'Home version one' %}</a></li>
                                            <li><a href="index-2.html">{% trans 'Home version two' %}</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'product:product' %}">{% trans 'Shop' %}</a>
                                        <ul>
                                            <li>
                                                <h5>{% trans "men's wear" %}</h5>
                                                <ul>
                                                    <li><a href="#">Shirts & Top</a></li>
                                                    <li><a href="#">Shoes</a></li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Shemwear</a></li>
                                                    <li><a href="#">Jeans</a></li>
                                                    <li><a href="#">Sweaters</a></li>
                                                    <li><a href="#">Jacket</a></li>
                                                    <li><a href="#">Men Watch</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <h5>{% trans "women's wear" %}</h5>
                                                <ul>
                                                    <li><a href="#">Shirts & Tops</a></li>
                                                    <li><a href="#">Shoes</a></li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Shemwear</a></li>
                                                    <li><a href="#">Jeans</a></li>
                                                    <li><a href="#">Sweaters</a></li>
                                                    <li><a href="#">Jacket</a></li>
                                                    <li><a href="#">Women Watch</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">{% trans 'Pages' %}</a>
                                        <ul>
                                            <li><a href="{% url 'checkout:wishlist' %}">{% trans 'Wishlist' %}</a></li>
                                            <li><a href="{% url 'checkout:checkout' %}">{% trans 'Checkout' %}</a></li>
                                            <li><a href="{% url 'checkout:cart' %}">{% trans 'Cart' %}</a></li>
                                            <li><a href="product-grid.html">{% trans 'Product Grid View' %}</a></li>
                                            <li><a href="{% url 'product:product' %}">{% trans 'Product List View' %}</a></li>
                                            <li><a href="single-product.html">{% trans 'Single Product' %}</a></li>
                                            <li><a href="{% url 'checkout:error' %}">{% trans '404 page' %}</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'blog:blog' %}">{% trans 'Blog' %}</a>
                                        <ul>
                                            <li><a href="blog-style-1.html">{% trans 'Blog Style One' %}</a></li>
                                            <li><a href="blog-style-2.html">{% trans 'Blog Style Two' %}</a></li>
                                            <li><a href="single-blog.html">{% trans 'Single Blog' %}</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'home:about' %}">{% trans 'About' %}</a></li>
                                    <li><a href="{% url 'contact:contact' %}">{% trans 'Contact' %}</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="cart-itmes">
                    <a class="cart-itme-a" href="{% url 'checkout:cart' %}">
                        <i class="mdi mdi-cart"></i><strong id="total-count">0</strong> items : $<strong id="total-price">0</strong>
                    </a>
                    <div class="cartdrop">
                        <div id="cartdrop">

                        </div>

                        <!-- <div class="sin-itme clearfix">
                            <i class="mdi mdi-close"></i>
                            <a class="cart-img" href="{% url 'checkout:cart' %}"><img
                                    src="{% static 'assets/img/cart/1.png'%}" alt="" /></a>
                            <div class="menu-cart-text">
                                <a href="#">
                                    <h5>men’s black t-shirt</h5>
                                </a>
                                <span>Color : Black</span>
                                <span>Size : SL</span>
                                <strong>$122.00</strong>
                            </div>
                        </div> -->
                        
                        <div class="total">
                            <span>total =$ <strong id="umumi-qiymet">0</strong></span>
                        </div>
                        <a class="goto" href="{% url 'checkout:cart' %}">{% trans 'go to cart' %}</a>
                        <a class="out-menu" href="{% url 'checkout:checkout' %}">{% trans 'Checkout' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header section end -->

{% block js %}
	<script src="{% static 'assets/js/logout.js'%}"></script>
{% endblock %}